.container-msj-error {
    display: flex;
    flex-direction: row;
    background-color: #5B98A6;
    width: 60%;
    padding: 2rem;
    margin-top: 1rem;
    border-radius: 20px;
}

img.psyduck{
    width: 80px;
    align-self: center;
}

img.close-icon {
    align-self: flex-start;
}

.container-msj-error p {
    color: aliceblue;
    margin: 2rem;
    font-weight: 700;
}

@media (max-width: 420px) {
    .container-msj-error {
        padding: 0.5rem;
        width: 80%;
    }
    
    .container-msj-error p {
        font-size: 10px;
        margin: 0.5rem;
    }
    img.psyduck {
        width: 60px;
        
    }
    
}


