body {
    background-color: #000B20;
}


.main { 
    display: grid;
    place-content: center;
    width: 100vw;
    height: 100vh;
}

.container-error {
    width: 700px;
    
    display: flex;
    flex-direction: row;
}

.psyduck-img {
   
    width: 200px;
    align-self: center;
}

.error-message {
    color: white;
    position: relative;
    top: 50px;
    left: -40px;
    font-size: 2rem;
    align-self: center;
}

@media (max-width: 800px) {
    .psyduck-img {
   
        width: 100px; 
    }

    .container-error {
        flex-direction: column;
        width: 280px;
    }    

    .error-message {
        font-size: 1rem;
        margin: 1rem;
        left: 0px;
    }
}