@keyframes floating {
    0% {top : 0} 
    50% {top : 15px}
    100% {top: 0;}
    }

.home {
    display: flex;
    flex-direction: column;
    background-color: #000B20;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-home {
    width: 545px;
}

.mew-img {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count:infinite; 
    position: absolute;
    top : 0;
    left: -15px;
}

input {
    border: 1px solid rgba(38, 56, 78, 0.418);
    border-radius: 10px;
    margin-top: 2rem;
    width: 350px;
    height: 35px;
    padding-left: 1rem;
    padding-right: 0.5rem;
    font-size: 15px;
}

.nombre-pokebola {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nombre-pokebola p {
    margin-left: 0.5rem;
}

.pikachu-img {
    
    width: 280px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.aviso {
    align-self: flex-start;
    position: absolute;
    bottom: 0;
    margin: 0 0 2rem 2rem;
    font-weight: 400;
    font-size: 14px;
    color: aliceblue;
}

.search-button {
    margin-top: 1.5rem;
    background-color: #FEC10E;
    color: #1D2A59;
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 15px;
    text-decoration: none;
    font-weight: 700;
    
}

.disabled {
    background-color: #a17c0d;
}

@media (max-width: 360px) {
    .mew-img {
        width: 200px;
    }
    .titulo-home {
        width: 250px;
    }
    .pikachu-img {
        width: 130px;
    }
    input {
        
        width: 270px;
    }
    .search-button {
        border-radius: 10px;
        height: 30px;
        width: 70px;
        font-size: 10px;
    }
    .aviso {
        font-size: 8px;
        margin: 0.5rem;
    }

    
}

@media (min-width : 361px) and (max-width: 600px) {
    .mew-img {
        width: 250px;
    }
    .titulo-home {
        width: 350px;
    }
    .pikachu-img {
        width: 130px;
    }
    .aviso {
        font-size: 8px;

    }
  }

  .pokemon-name {
      background-color: #1d2a597a;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      border-radius: 10px;
      margin-top: 0.5rem ;
      border: 1px solid #fff;
      padding: 1rem;
      color: aliceblue;
      border-color: #ffffff;

  }
  
    .pokemon-name button {
        margin-top: 0rem;
        color: #1d2a59;
        width: 90px;
        height: 40px;
        border: none;
        border-radius: 15px;
        text-decoration: none;
        font-weight: 700;
        
        margin: 0;
        background-color: #67CBA9;
      
    }
    
    .pokemon-name button:hover {
        cursor: pointer;
        background-color: #76e9c2;
  }

  .pokemon-name a {
      text-decoration: none;
  }